@font-face {
    font-family: 'segoe print'; /*a name to be used later*/
    src: url('static/segoepr.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'segoe print bold'; /*a name to be used later*/
    src: url('static/segoeprb.ttf'); /*URL to font*/
}

body{
    font-family: 'segoe print';
    color: rgb(120, 142, 160);
    background-color: rgb(17, 18, 23);
    text-shadow: black 2px 0px 0px,
         black 1.75517px 0.958851px 0px,
          black 1.0806px 1.68294px 0px,
           black 0.141474px 1.99499px 0px,
            black -0.832294px 1.81859px 0px,
             black -1.60229px 1.19694px 0px,
              black -1.97998px 0.28224px 0px,
               black -1.87291px -0.701566px 0px,
                black -1.30729px -1.5136px 0px,
                 black -0.421592px -1.95506px 0px,
                  black 0.567324px -1.91785px 0px,
                   black 1.41734px -1.41108px 0px,
                    black 1.92034px -0.558831px 0px;
    line-height: 125%;
    font-size: small;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

.running{
    color: #8e9e7c;
}